@import "../../responsive.scss";
@import "../../variables.scss";

:root {
    font-size: 16px;
    font-family: nobel, ryo-gothic-plusn, sans-serif;
    font-weight: 400;
    color: $dark;
    background-color: $light;
}

main {
    animation: fadeIn 0.1s ease 0s 1 normal;
    -webkit-animation: fadeIn 0.5s ease 0s 1 normal;
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.global-wrapper {
    width: var(--contentWidth);
    margin: 0 auto;
    header,
    footer {
        text-align: center;
    }
    footer {
        margin: 2rem;
    }
    a {
        color: $blue;
        transition: 0.2s;
        &:hover {
            background-color: lighten($blue, 37%);
            transition: 0.2s;
        }
    }
}

.global-header {
    padding: 3rem 0 1rem;
    font-size: 1.3rem;
    h1 {
        margin: 0 auto 2rem;
        font-size: 2rem;
        border: none;
        a {
            color: $dark;
            &:hover {
                background-color: transparent;
            }
        }
    }
    ul {
        margin: 0 auto;
        width: fit-content;
        display: flex;
        gap: 1rem;
        a {
            color: $blue;
        }
    }
}
